html{
	height: 100%;
}

body{
	min-width: 750px;
	max-width: 75%;
	height: 100%;
	background-color: #303030; 
	background-image: url("Backgrounds/debut_dark.png");
	margin: auto;
}

p{
	font-size: 17pt;
}

h1{
	color: #f2d7cb;
	font-size: 16pt;
}

h2{
	color: #f2d7cb;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 40px;
	font-weight: 500;
	line-height: 0.5px;
}


hr{
   display: block;
   position: relative;
   padding: 0;
   line-height: 0;
   clear: both;
   border: none;
   border-top: 1px solid #3d3d3d;
   border-bottom: 1px solid #3d3d3d;
}

td{
	text-align: center;
	font-size: 18pt;
}


#pageHeader{
	display: block;
	text-align: center;
	height: 125px;
	background-color: grey;
	margin: auto;
}

#address{
	float: left;
	display: block;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 2em;
	width: 25%;
	height: 75px;
	background-color:#303030;
}

#logowrapper{
	float: left;
	display: block;
	width: 50%;
	min-width: 200px;
	height: 75px;
	background-color: #303030;
}

.logo{
	height: 100%;
	width: 100%;
	object-fit: contain;
	position: top;
}

#phone{
	float: left;
	display: block;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 2em;
	width: 25%;
	height: 75px;
	background-color: #303030;
}

#linkBar{
	height: 60px;
	font-size: 18pt;
	float: left;
	display: block;
	width: 100%;
	background-color: #303030;
}

.button {
	height: 100%;
	width: 33.33333%;
    background-color: #444444;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    float: left;
    display: block;
    font-size: 16px;
    cursor: pointer;
}

#about{
	background-color:#303030; 
	float: left;
	display: block;
	width: 100%;
	height: 70px;
}

#mainBody{
	padding: 20px;
	display: block;
	height: 100%;
	background-color: purple;

}

#consoles{
	width: 100%;
	display: table;
	background-color: red;
}

#consolesButtons{
	width: 20%;
	height: 100%;
	display: table-cell;
	background-color: blue;
}

#consolesTable{
	width: 60%;
	height: 100%;
	display: table-cell;
	align-self: center;
	background-color: green;
}